# Dependencies
node_modules/

# Build
dist/

# Environment
.env

# Playwright
test-results/
playwright-report/
playwright/.cache/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store

# Logs
*.log

# Allure
allure-results/
allure-report/
reports